:root { 
    --anakiwa: #83e8ff;
    --bittersweet: #ff7262;
    --bittersweet-2: #ff72620f;
    --bittersweet-3: #ff726229;
    --black: #000000;
    --black-2: #0000001a;
    --black-haze: #f7f7f8;
    --bleach-white: #fff3d8;
    --blue-zodiac: #162b4d;
    --cloud-burst: #202d51;
    --coconut: #fefffe;
    --lemon-chiffon: #fffbc8;
    --magnolia: #fdf3ff;
    --manatee: #8f92a1;
    --martinique: #29304d;
    --medium-purple: #9162ff;
    --mona-lisa: #f3a490;
    --moody-blue: #8162ff;
    --onahau: #cef6ff;
    --purple-heart: #531edc;
    --regent-gray: #8a959e26;
    --screamin-green: #62ff74;
    --screamin-green-2: #84ff62;
    --serenade: #fff2e9;
    --shark: #241c2d;
    --shark-2: #241c2d1a;
    --steel-gray: #1f1f39;
    --storm-gray: #6a7586;
    --waterloo-: #79859a;
    --white: #ffffff;
    --white-2: #ffffff1a;
    --white-3: #ffffff14;
    --white-4: #ffffff29;
    --white-5: #ffffff52;
   
    --font-size-l: 15px;
    --font-size-m: 14px;
    --font-size-s: 12px;
    --font-size-xl: 16px;
    --font-size-xxl: 18px;
    --font-size-xxxl: 22px;
    --font-size-xxxxl: 24px;
   
    --font-family-abel: "Abel", Helvetica;
    --font-family-aeroport-bold: "Aeroport-Bold", Helvetica;
    --font-family-aeroport-medium: "Aeroport-Medium", Helvetica;
    --font-family-aeroport-regular: "Aeroport-Regular", Helvetica;
    --font-family-dmsans-medium: "DMSans-Medium", Helvetica;
    --font-family-roboto-regular: "Roboto-Regular", Helvetica;
  }
  .aeroport-regular-normal-manatee-14px {
    color: var(--manatee);
    font-family: var(--font-family-aeroport-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }
  
  .aeroport-regular-normal-manatee-12px {
    color: var(--manatee);
    font-family: var(--font-family-aeroport-regular);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
  }
  
  .aeroport-medium-white-14px {
    color: var(--white);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-regular-normal-white-12px {
    color: var(--white);
    font-family: var(--font-family-aeroport-regular);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
  }
  
  .aeroport-medium-white-16px {
    color: var(--white);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-medium-cloud-burst-14px {
    color: var(--cloud-burst);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-medium-white-24px {
    color: var(--white);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-medium-white-22px {
    color: var(--white);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-medium-cloud-burst-16px {
    color: var(--cloud-burst);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-medium-manatee-12px {
    color: var(--manatee);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-medium-cloud-burst-24px {
    color: var(--cloud-burst);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-regular-normal-storm-gray-16px {
    color: var(--storm-gray);
    font-family: var(--font-family-aeroport-regular);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 400;
  }
  
  .aeroport-regular-normal-white-14px {
    color: var(--white);
    font-family: var(--font-family-aeroport-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }
  
  .aeroport-medium-white-12px {
    color: var(--white);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-medium-white-18px {
    color: var(--white);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-regular-normal-blue-zodiac-14px {
    color: var(--blue-zodiac);
    font-family: var(--font-family-aeroport-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }
  
  .aeroport-bold-white-16px {
    color: var(--white);
    font-family: var(--font-family-aeroport-bold);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
  }
  
  .abel-normal-manatee-14px {
    color: var(--manatee);
    font-family: var(--font-family-abel);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }
  
  .aeroport-medium-blue-zodiac-14px {
    color: var(--blue-zodiac);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-medium-cloud-burst-18px {
    color: var(--cloud-burst);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-regular-normal-storm-gray-14px {
    color: var(--storm-gray);
    font-family: var(--font-family-aeroport-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }
  
  .aeroport-medium-manatee-15px {
    color: var(--manatee);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-medium-manatee-14px {
    color: var(--manatee);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-regular-normal-bittersweet-14px {
    color: var(--bittersweet);
    font-family: var(--font-family-aeroport-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }
  
  .aeroport-bold-bittersweet-14px {
    color: var(--bittersweet);
    font-family: var(--font-family-aeroport-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
  }
  
  .aeroport-bold-blue-zodiac-14px {
    color: var(--blue-zodiac);
    font-family: var(--font-family-aeroport-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
  }
  
  .aeroport-medium-white-15px {
    color: var(--white);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 500;
  }
  
  .abel-normal-white-14px {
    color: var(--white);
    font-family: var(--font-family-abel);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }
  
  .abel-normal-white-18px {
    color: var(--white);
    font-family: var(--font-family-abel);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
  }
  
  .aeroport-regular-normal-white-14px-2 {
    font-family: var(--font-family-aeroport-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }
  
  .aeroport-regular-normal-manatee-16px {
    color: var(--manatee);
    font-family: var(--font-family-aeroport-regular);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 400;
  }
  
  .abel-normal-screamin-green-14px {
    color: var(--screamin-green);
    font-family: var(--font-family-abel);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }
  
  .abel-normal-manatee-12px {
    color: var(--manatee);
    font-family: var(--font-family-abel);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
  }
  
  .aeroport-regular-normal-bittersweet-12px {
    color: var(--bittersweet);
    font-family: var(--font-family-aeroport-regular);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
  }
  
  .roboto-regular-normal-white-14px {
    color: var(--white);
    font-family: var(--font-family-roboto-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }
  
  .aeroport-bold-white-12px {
    color: var(--white);
    font-family: var(--font-family-aeroport-bold);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 700;
  }
  
  .aeroport-medium-white-28px {
    color: var(--white);
    font-family: var(--font-family-aeroport-medium);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-medium-bittersweet-12px {
    color: var(--bittersweet);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-medium-white-48px {
    color: var(--white);
    font-family: var(--font-family-aeroport-medium);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-regular-normal-manatee-15px {
    color: var(--manatee);
    font-family: var(--font-family-aeroport-regular);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
  }
  
  .aeroport-medium-cloud-burst-15px {
    color: var(--cloud-burst);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-medium-martinique-21px {
    color: var(--martinique);
    font-family: var(--font-family-aeroport-medium);
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
  }
  
  .abel-normal-screamin-green-12px {
    color: var(--screamin-green);
    font-family: var(--font-family-abel);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
  }
  
  .aeroport-bold-cloud-burst-16px {
    color: var(--cloud-burst);
    font-family: var(--font-family-aeroport-bold);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
  }
  
  .aeroport-medium-screamin-green-12px {
    color: var(--screamin-green);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-bold-white-14px {
    font-family: var(--font-family-aeroport-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
  }
  
  .aeroport-medium-white-20px {
    color: var(--white);
    font-family: var(--font-family-aeroport-medium);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-medium-screamin-green-16px {
    color: var(--screamin-green-2);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-regular-normal-manatee-18px {
    color: var(--manatee);
    font-family: var(--font-family-aeroport-regular);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
  }
  
  .aeroport-medium-steel-gray-24px {
    color: var(--steel-gray);
    font-family: var(--font-family-aeroport-medium);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 500;
  }
  
  .aeroport-bold-white-11px {
    color: var(--white);
    font-family: var(--font-family-aeroport-bold);
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
  }
  